<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
        <link rel="stylesheet" href="./static/node_modules/dc/dc.css">
        <link rel="stylesheet" href="./static/css/my.css">
    </head>
    <body>
        <div id="pie-chart"></div>  
        <div id="bar-chart"></div>  

        <script src="./static/node_modules/dc/node_modules/crossfilter2/crossfilter.js"></script>
        <script src="./static/node_modules/dc/node_modules/d3/d3.js"></script>
        <script src="./static/node_modules/dc/dc.js"></script>

        <script src="./static/js/charts.js"></script>
    </body>
</html>
